* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-app-region: drag;
  background: rgba(0, 0, 0, 0);
  font-family: "roboto", sans-serif;
}

h1 {
  background-color: #f0f;
}

.timer {
  width: 100vw;
  height: 100vh;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: grab;
}

.timer__content {
  font-size: 55px;
  color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer__count {
  font-size: 30px;
  color: #e91e63;
  font-weight: bold;
  position: absolute;
  bottom: 40px;
  transition: 3s;
}

.timer[data-state="break"] .timer__count {
  color: #4ca2cd;
}

.timer__title {
  position: absolute;
  top: 55px;
  font-size: 20px;
  color: #e91e63;
  transition: 3s;
}

.timer[data-state="break"] .timer__title {
  color: #4ca2cd;
}

circle {
  fill: none;
  stroke: url(#gradient);
  stroke-width: 4px;
  stroke-dasharray: 282;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}

svg {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

#stop1 {
  stop-color: #e91e63;
  transition: 3s;
}

#stop1.break {
  stop-color: #67b26f;
}

#stop2 {
  stop-color: #673ab7;
  transition: 3s;
}

#stop2.break {
  stop-color: #4ca2cd;
}
