* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-app-region: drag;
  background: rgba(0, 0, 0, 0);
  font-family: "roboto", sans-serif;
}

:root {
  --work-1: #e91e63;
  --work-2: #673ab7;
  --break-1: #67b26f;
  --break-2: #4ca2cd;
  --timer-text: #eee;
}

.timer {
  width: 100vw;
  height: 100vh;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: grab;
}

.timer__content {
  font-size: 55px;
  color: var(--timer-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer__count {
  font-size: 20px;
  color: var(--work-1);
  font-weight: bold;
  position: absolute;
  bottom: 40px;
  transition: 3s;
}

.timer[data-state="break"] .timer__count {
  color: var(--break-1);
}

.timer__state {
  position: absolute;
  top: 55px;
  font-weight: bold;
  font-size: 20px;
  transition: 3s;
}

.timer__state--work {
  opacity: 0;
  color: var(--work-1);
}

.timer__state--break {
  opacity: 0;
  color: var(--break-1);
}

.timer[data-state="work"] .timer__state--work {
  opacity: 1;
}

.timer[data-state="break"] .timer__state--break {
  opacity: 1;
}

circle {
  fill: none;
  stroke: url(#gradient);
  stroke-width: 4px;
  stroke-dasharray: 282;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}

svg {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

#stop1 {
  stop-color: var(--work-1);
  transition: 3s;
}

#stop1.break {
  stop-color: var(--break-1);
}

#stop2 {
  stop-color: var(--work-2);
  transition: 3s;
}

#stop2.break {
  stop-color: var(--break-2);
}
